<!DOCTYPE html> 
<head> 
    <title> LoL Champion Info </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     

</head>

<h1> Champions </h1> 
<h2> Total champions: <%= champions.length %> </h2>
<h3> Future updates: </h3>
<% Object.keys(champions[0]).forEach( (key) =>{ %>
	<li> <%= key %> </li>

<% }) %>

<h3> Champions with No Chest: <%= noChest.length %>
<h4> Champions with No Chest ID: 
	<% let sorted = noChest.sort( (a,b) => a - b) %> 
	<% sorted.forEach ( (key) => { %>
	<li> <%= key %> </li>
	<% }) %>

</h4>
<div id="myChart"> </div>


