<!DOCTYPE html> 
<head> 
    <title> LoL Champion Info </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     

</head>
<h1> League of Legends Champion Information </h1>

 

<form action = "/summonerIDs" method = "GET"> 
Enter your Summoner ID: 
<input type ="text" name = "id"> 
<button> Submit </button>
</form>